# Ignore the .env file containing environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore SQLite database files
*.sqlite3
*.db

# Ignore virtual environment directory
env/