{% extends "specialist/specialist_base.html" %}

{% block title %}Display Diet Plans {% endblock %}

{% block content %}
<body>
    <h1>Diet Plans</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% if retrieved_dietplans %}
        <form action="{{ url_for('specialist.display_selected_dietplan', patient_id=patient_id) }}" method="post">
            <label for="diet_plan_id">Select a Diet Plan:</label>
            <select id="diet_plan_id" name="diet_plan_id">
                {% for dietplan in retrieved_dietplans %}
                    <option value="{{ dietplan.dietplan_id }}">{{ dietplan.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">View Diet Plan</button>
        </form>
    {% endif %}

    {% if assigned_meals %}
        <table class="diet-table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Meal Type</th>
                    <th>Food Item</th>
                    <th>Quantity (gr)</th>
                </tr>
            </thead>
            <tbody>
                {% for day, meal_type in assigned_meals.items() %}
                    {% set total_items = day_totals[day] %}
                    {% for meal, foods in meal_type.items() %}
                        {% set items_per_meal = foods|length %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ total_items }}">{{ day }}</td>
                            {% endif %}
                            <td rowspan="{{ items_per_meal }}">{{ meal }}</td>
                            <td>{{ foods[0][0] }}</td>
                            <td>{{ foods[0][1] }}</td>
                        </tr>

                        {% for food in foods[1:] %}
                            <tr>
                                <td>{{ food[0] }}</td>
                                <td>{{ food[1] }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="links">
        <ul>
            <li><a href="{{ url_for('specialist.specialist_index') }}">Back to Home</a></li>
        </ul>        
    </div>
{% endblock %}
