<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Patients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Patients</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <ul>
        {% for username in patient_usernames %}
            <li><a href="{{ url_for('specialist.display_selected_dietplan', patient_id=username.user_id) }}">{{ username.username }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
