{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
<body>
    <h1>{{ welcome_message }}</h1>
    <div class="container">
        <div class="icon">
            <a href="{{ url_for('specialist.shopping_list') }}">
                <img src="{{ url_for('static', filename='shopping_cart.png') }}" alt="Shopping Cart">
            </a>
            <p class="icon-text">Shopping list</p>
        </div>

        <div class="icon">
            <a href="{{ url_for('main.diet_plan') }}">
                <img src="{{ url_for('static', filename='diet_plan.png') }}" alt="Diet Plans">
            </a>
            <p class="icon-text">Diet programs</p>
        </div>
        <div class ="icon">
            <a href="{{ url_for('main.measurements') }}">
                <img src="{{ url_for('static', filename='measurement.png')}}" alt="My measurements">
            </a>
            <p class="icon-text">Monitor your progress</p>
        </div>
        <div class="icon">
            <a href="{{ url_for('main.my_profile') }}">
                <img src="{{ url_for('static', filename='my_account.png')}}" alt="My profile">
            </a>
            <p class="icon-text">Go to your page profile</p>
        </div>
    </div>
</body>
{% endblock %}
