{% extends "base.html" %}

{% block title %}Add food{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">ADD A NEW FOOD ITEM</h2>
        <h4>All values must be referred to 100 grams of food</h4>

        <form action="/add-food" method="POST">
            {% for column in columns %}
                <div class="form-group">
                    <label for="{{ column }}">{{ column }}</label>
                    {% if column == 'Name' %}
                        <input type="text" id="{{ column }}" name="{{ column }}" placeholder="Enter {{ column }} (Brand)" required>
                    {% else %}
                        <input type="number" id="{{ column }}" name="{{ column }}" placeholder="Enter {{ column }}" required>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}