{% extends "base.html" %}

{% block title %}Add measurement{% endblock %}

{% block content %}
<body class="min-h-screen flex items-center justify-center bg-white" style="margin-left: 100px;">
    <div style="padding: 20px;">
        {% if column_names %}
            <div class="bg-card p-4 rounded-2xl shadow flex flex-col items-center max-w-lg mx-auto">
                <h2 class="text-center mb-5"><strong>Add Record</strong></h2>
                <form action="{{ url_for('main.add_measurement') }}" method="POST" class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
                    {% for column_name in column_names %}
                        <div class="flex flex-col">
                            <label for="{{ column_name }}" class="mb-1">{{ column_name }}</label> 
                            <input type="number" id="{{ column_name }}" name="{{ column_name }}" step="any" placeholder="Enter value" required class="p-2 border rounded">
                        </div>
                    {% endfor %}
                    <div class="md:col-span-2">
                        <button type="submit" class="w-full py-2 bg-blue-500 text-white text-lg rounded-lg transition-colors duration-300 hover:bg-blue-600">Submit</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}
