{% extends "base.html" %}
{% block title %}Add Food{% endblock %}
{% block content %}
<body class="min-h-screen flex items-center justify-center bg-muted">
    <section class="py-8">
        <div class="container mx-auto text-center" style="margin-left: 50px;">
            <h2 class="text-2xl font-bold mb-4">Add a New Food Item</h2>
            <p class="text-center mb-6">All values must be referred to 100 grams of product</p> 
            <form action="/add-food" method="POST" class="flex flex-col items-center">
                {% for column in columns %}
                    <div class="form-group mb-4 w-full md:w-1/3">
                        <label for="{{ column }}" class="block text-left mb-2">{{ column }}</label>
                        {% if column == 'Name' %}
                            <input type="text" id="{{ column }}" name="{{ column }}" placeholder="Enter {{ column }} (Brand)" required class="w-full p-2 border border-border rounded">
                        {% else %}
                            <input type="number" id="{{ column }}" name="{{ column }}" placeholder="Enter {{ column }}" required class="w-full p-2 border border-border rounded">
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="mt-6 px-6 py-2 border border-primary text-primary text-xl hover:bg-primary hover:text-primary-foreground rounded-lg">Add</button>
            </form>
        </div>
    </section>
</body>
{% endblock %}
