{% extends "base.html" %}

{% block title %}{{ food.name }} details {% endblock %}

{% block content %}
    <header>
        <h1>Food Details for {{ food.name }}</h1>
    </header>

    <main class="container">
        {% if food %}
            <section>
                <h2> {{ food.name }} properties:</h2>
                <ul class="food-properties">
                    <li><strong>Calories:</strong> {{ food.calories }} Kcal</li>
                    <li><strong>Carbohydrates:</strong> {{ food.carbs }} g</li>
                    <li><strong>Protein:</strong> {{ food.protein }} g</li>
                    <li><strong>Fat:</strong> {{ food.fats }} g</li>
                </ul>
            </section>
        {% endif %}

        <section>
            <h2>Substitute Products:</h2>
            <br>
            {% if substitutes %}
                <ul class="substitute-list">
                    {% for substitute in substitutes %}
                        <li>
                            <strong>{{ substitute.name }}</strong>
                            <ul class="substitute-details">
                                <li><strong>Calories:</strong> {{ substitute.calories }} Kcal</li>
                                <li><strong>Carbohydrates:</strong> {{ substitute.carbs }} g</li>
                                <li><strong>Protein:</strong> {{ substitute.protein }} g</li>
                                <li><strong>Fat:</strong> {{ substitute.fats }} g</li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </main>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div class="links">
        <ul>
            <li><a href="{{ url_for('main.shopping_list') }}">Back to Shopping List</a></li>
        </ul>
    </div> 
{% endblock %}
