{% extends "base.html" %}

{% block title %}My measurements{% endblock %}

{% block content %}
<body class="min-h-screen flex items-center justify-center bg-white" style="margin-left: 100px;">
    <div style="padding: 20px;">
        <!-- Show the drop down menu with all parameters -->
        {% if parameters %}
            <div class="bg-card p-4 rounded-2xl shadow flex flex-col items-center max-w-sm mx-auto">
                <h2 class="text-2xl font-semibold mb-5 text-center">Select a parameter</h2>
                <form action="/graphs" method="POST" class="w-full max-w-xs">
                    <label for="selected_parameter" class="sr-only">Check your measurement:</label>
                    <select id="selected_parameter" name="selected_parameter" required class="block w-full p-2 border rounded mb-3">
                        <option value="" disabled selected>Select parameter</option>
                        {% for parameter in parameters %}
                            <option value="{{ parameter }}">{{ parameter }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="w-full py-2 bg-blue-500 text-white text-lg rounded-lg transition-colors duration-300 hover:bg-blue-600">Select</button>
                </form>
            </div>  
        {% endif %}

        {% if chart %}
            <div class="bg-card p-4 rounded-2xl shadow mt-6">
                <div class="chart-container">
                    {{ chart|safe }}
                </div>
            </div>
        {% endif %}

    </div>
</body>
{% endblock %}
