{% extends "base.html" %}

{% block title %}My profile{% endblock %}

{% block content %}
    <section class="relative" style="margin-left: 150px;">
        <img src="static/food-profile.jpg" alt="Food profile" class="w-full h-64 object-cover">
    </section>
    <div class="min-h-screen flex items-center justify-center bg-muted" style="margin-left: 150px;">
        <div class="profile-header">
            <img src="{{ url_for('static', filename='profile_picture.jpg') }}" alt="Profile Picture">
        </div>
        <div class="profile-details">
            {% if username %}
                <div class="flex items-center justify-between">
                    <h4><strong>Username</strong>: {{ username }}</h4>
                    <a href="{{ url_for('main.edit_profile', field='username') }}" class="edit-btn">
                        <button type="button" class="ml-4 px-3 py-1 border-2 border-blue-500 text-blue-500 text-lg hover:bg-blue-500 hover:text-white rounded-lg transition-colors duration-300">
                            Edit
                        </button>
                    </a>
                </div>
            {% endif %}
            
            {% if email %}
                <div class="flex items-center justify-between mt-4">
                    <h4><strong>Email</strong>: {{ email }}</h4>
                    <a href="{{ url_for('main.edit_profile', field='email') }}" class="edit-btn">
                        <button type="button" class="ml-4 px-3 py-1 border-2 border-blue-500 text-blue-500 text-lg hover:bg-blue-500 hover:text-white rounded-lg transition-colors duration-300">
                            Edit
                        </button>
                    </a>
                </div>
            {% endif %}
            
            {% if created %}
                <h4 class="mt-4">You're a member of our DietShopper family since: {{ created }}</h4>
            {% endif %}
        </div>
        
        
        
    </div>
{% endblock %}
