{% extends "base.html" %}
{% block title %}Diet Plans{% endblock %}
{% block content %}
<body>
	<div style="padding: 30px; position: absolute; left: 50%; transform: translateX(-50%); margin-left: 125px;"> 
		<div class="flex flex-col md:flex-row items-center gap-8">
			<img class="w-full md:w-1/2 h-auto object-cover" src="static/remove-diet.jpg" alt="Health Coach Image">
			<div class="md:w-1/2 flex justify-center">
				<div class="flex flex-col items-center md:items-start md:flex-row md:space-x-10">
					<div class="text-center md:text-left mb-6 md:mb-0">
						<div class="mb-4">
							<!-- Check if there are diet plans assigned -->
							{% if assigned_diets %}
								<form method="POST" action="/remove-diet">
									<div class="form-group">
										<h2 class="text-center text-4xl font-semibold mb-4">Remove Diet Plan</h2>
										<label class="text-xl">Select the diet plans you want to delete:</label>
										<ul class="list-group">
											<!-- Loop through each assigned diet and create a checkbox -->
											{% for diet in assigned_diets %}
												<li class="flex justify-between items-center bg-card text-card-foreground border border-border rounded p-4">
													<input type="checkbox" name="diet_id" value="{{ diet.dietplan_id }}">
													<span class="text-xl">{{ diet.name }} - {{ diet.description }}</span>
												</li>
											{% endfor %}
										</ul>
									</div>
									<button type="submit" class="mt-6 px-6 py-2 border border-primary text-primary text-xl hover:bg-primary hover:text-primary-foreground rounded-lg">Delete</button>
								</form>
							{% else %}
								<p class="text-center text-xl">You currently have no assigned diet plans.</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>				
        </div>
    </div>
</body>
{% endblock %}