{% extends "base.html" %}

{% block title %}Shopping List{% endblock %}

{% block content %}
    <h2 class="text-center">SHOPPING LIST</h2>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        {% if message %}
            <h4>{{ message|safe }}</h4>
        {% endif %}

        {% if alternative_dietplans %}
            <form id="dietPlanForm" method="GET" onsubmit="return redirectToDietPlan()">
                <label for="dietPlan">Select Diet Plan:</label>
                <select id="dietPlan" name="dietPlan" required>
                    <option value="" disabled selected>Select your diet plan</option>
                    {% for diet_plan in alternative_dietplans %}
                        <option value="{{ diet_plan.dietplan_id }}">{{ diet_plan.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit">Get Shopping List</button>
            </form>
        {% endif %}

        {% if items %}
            <table class="shopping-list">
                <thead>
                    <tr>
                        <th>Food</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, quantity in items.items() %}
                        <tr>
                            <td><a href="{{ url_for('main.food_details', food_name=name) }}">{{ name }}</a></td>
                            <td>{{ quantity }} gr</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <script>
        function redirectToDietPlan() {
            var form = document.getElementById("dietPlanForm");
            var select = document.getElementById("dietPlan");
            var selectedDietPlanId = select.options[select.selectedIndex].value;
            if (selectedDietPlanId) {
                window.location.href = "/shopping-list/" + selectedDietPlanId;
                return false; 
            }
            return true;
        }
    </script>
{% endblock %}
